img {
  width: 200px;
  height: 200px;
}

h1 {
  color: black;
  text-align: center;
  /* display: inline; */
  /* margin: 0%; */
}

.imgcss {
  text-align: center;
}

ul {
  /* margin: 0%; */
  /* background: lightblue; */
}
body {
  /* margin: 0%; */
  /* padding: 0%; */
  /* outline: 2px solid red; */
}

* {
  /* outline: 2px solid black; */
  /* margin: 30px; */
}

li {
  font-size: 25px;
}
